# Dependencies
node_modules/
yarn.lock

# Environment
.env
.env.local
.env.development
.env.production

# Build outputs
build/
dist/
ios/build/
android/build/
web-build/

# Expo
.expo/
.expo-shared/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem